.body {
  background-image: url(https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/1387825121879-K4EQYPT1R9UE59TCNHAX/merry_christmas_by_caiomm-d6ygclt.jpg);
}
.heading {
  color: gold;
  font-family: "Franklin Gothic Medium";
  text-align: center;
}

.p {
  color: crimson;
  font-family: "Franklin Gothic Medium";
  text-align: center;
}
